</main>
      
<footer class="footer">
  <!-- <img class="footer__image hidden" src="/images/cheesecake-with-fresh-fruit.png" alt=""> -->
  <div class="footer__social">
    <a class="social-media__logo" href="https://discord.com/channels/316852611867213824/1117818827158339635"><img src="/images/discord-mark-black.svg"></a>
    <a class="social-media__logo" href="https://github.com/orgs/O-clock-Cheesecake/repositories"><img src="/images/LogosGithubIcon.svg"></a>
  </div>
</footer>

</body>
</html>