/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');


html {
  font-size: 62.5%;
}


/* HEADER */
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  width: 100%;
}

.header__logo {
  width: 2rem;
  padding-bottom: 0.4rem;
}

.header__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}


/* BODY INDEX + STUDENTS */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  margin: 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8rem 0 8rem 0;
  width: 80%;
}

.article__title {
  font-size: 3rem;
  font-family: 'Playfair Display', sans-serif;
  margin-bottom: 3rem;
}

.blue__point {
  color: blue;
  font-size: 4rem;
  line-height: 1;
}

.article__text {
  margin-bottom: 2rem;
}

.text__bottom {
  margin-bottom: 5rem;
}

em {
  font-weight: 700;
  font-size: 1.8rem;
  font-style: normal ;
}

.button {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgb(200, 200, 200);;
  color: white;
  font-weight: 700;
  padding: 1.5rem;
  text-decoration: none;
  transition: ease-in-out 0.3s, transform 0.1s;
}

.button:hover {
  background-color: white;
  border: 1px solid black;
  color: black; 
}


/* STUDENTS CARDS */

.main__card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem 0;
  width: 80%;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  height: 20rem;
  width: 90%;
}

.card:hover {
  box-shadow: 1px 1px 5px rgb(200, 200, 200);
  transform: scale(1.1);
}

.card__icon {
  width: 4rem;
  position: absolute;
  top: -1.8rem;
  z-index: 9;
}

.card__banner {
  background-color: black;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 2rem;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  padding: 2rem 0 0.75rem 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.blue__point1 {
  color: blue;
  font-size: 4rem;
  line-height: 0.5;
}

.student__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem 2rem 1rem 2rem;
  width: 100%;
}

.card__social {
  border-top: 1px solid lightgray ;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.3rem;
  width: 100%;
  text-decoration: none;
}

.github__icon {
  width: 2.5rem;
}

.button--home {
  margin-bottom: 8rem;
}


/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4rem 0 3rem 0;
}

.footer__image {
  margin-bottom: 1.5rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-media__logo {
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  height: 4rem;
  width: 4rem;
  overflow: visible;
  transition: ease-in-out 0.3s, transform 0.1s;
}

.social-media__logo:hover {
  background-color: white;
  filter: brightness(1) invert(1);
}

.social-media__logo:active {
  transform: scale(0.9);
}


/*******************
MEDIA QUERIES
***************/

@media all and (min-width:425px) {

  .main__card__container {
    gap: 2rem;
    width: 90%;
  }

  .card {
    width: 45%;
  }

  .footer__image {
    width: 85%;
  }

}

@media all and (min-width:768px) {

  .header__logo {
    width: 2.5rem;
    padding-bottom: 0.4rem;
  }
  
  .header__title {
    font-size: 4rem;
  }

  .card {
    width: 30%;
  }

  .footer__image {
    width: 65%;
  }

  .footer__social {
    gap: 3rem;
  }

}

@media all and (min-width:1024px) {

  .header__logo {
    width: 3rem;
    padding-bottom: 0.4rem;
  }
  
  .header__title {
    font-size: 4.5rem;
  }

  .card {
    width: 23%;
  }

  .footer__image {
    max-width: 30%;
  }

}

@media all and (min-width:1024px) {

  .main__card__container {
    gap: 5rem;
    width: 90%;
  }

  .card {
    width: 20%;
  }

}

@media all and (min-width:1440px) {

  .main__card__container {
    gap: 5rem;
    width: 90%;
  }

  .card {
    width: 15%;
  }

}