<%- include('partials/header') %>
          
    <article class="article">
      <h2 class="article__title">Blue<span class="blue__point">.</span></h2>
      <p class="article__text">Il y a <em>25</em> apprenants dans cette promo.</p>
      <p class="article__text text__bottom">Elle est animée par<br><em>Abdelhadi BENJOUDAR</em><br>et <br><em>Thomas CHARREYRON</em><br><br><span class="minouche">et parfois Minouche...</span></p>
      <a class="article__link button" href="/students">Voir la liste des étudiants</a>
    </article>

    <img class="home__picture" src="/images/cheesecake-with-fresh-fruit.png" alt="">

<%- include('partials/footer') %>