<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheescake - Blue promo</title>

  <link rel="stylesheet" href="../public/stylesheet/reset.css">
  <link rel="stylesheet" href="../public/stylesheet/style.css">
</head>
<body>

  <header class="header">
    <h1 class="main__title">Cheesecake</h1>
  </header>
  
  <main>
    
    <div class="main__container">
      
      <article class="article">
        <p class="article__text">Il y a 25 apprenants dans cette promo</p>
        <p class="article__text">Cette promo est animée par Abdelhadi BENJOUDAR et Thomas CHARREYRON</p>
        <a class="article__link" href="./students.html">Voir la liste des étudiants</a>
      </article>
    </div>

  </main>
      
  <footer class="footer">
    <img class="footer__image" src="../public/images/cheesecake-with-fresh-fruit.png" alt="">
    <div class="footer__social">
      <a class="social-media__logo" href="https://discord.com/channels/316852611867213824/1117818827158339635"><img src="../public/images/discord-mark-black.svg"></a>
      <a class="social-media__logo" href="https://github.com/orgs/O-clock-Cheesecake/repositories"><img src="../public/images/LogosGithubIcon.svg"></a>
    </div>
  </footer>
  
</body>
</html>