<%- include('partials/header') %>

<div class="notFound__wrapper">

  <h3 class="notFound__title">Oups...</h3>
  <p>Il semblerait que la page ait été mangée !</p>
  <img src="/images/istockphoto-1303984805-612x612.jpg" alt="">

  <a class="button button--home--student" href="/">Accueil</a>


</div>

<%- include('partials/footer') %>

